{% extends "blog/base.html" %}
{% block content %}
    <h2 class="mb-2">{{ view.kwargs.username }}'s Blogs ({{ page_obj.paginator.count }})</h2>
    {% for post in posts %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }} " alt="profile_pic">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
    {% endfor %}
    <!--Pagination-->
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-warning">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <a href="?page={{ num }}" class="btn btn-warning">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' %}
                <a href="?page={{ num }}" class="btn btn-outline-warning">{{ num }}</a>
            {% elif num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}" class="btn btn-outline-warning">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-warning">Next</a>
        {% endif %}
    {% endif %}
{% endblock content %}